.location {
  text-align: center;
}

.citta {
  color: #FFF;
  font-size: 80px;
  font-weight: 300;
  position: relative;
  top: 1vh;
}

.ora {
  text-align: right;
  color: #FFF;
  font-size: 56px;
  font-weight: 300;
  position: absolute;
  top: 5vh;
  right: 5vh;
}

.temperatura {
  position: relative;
  top: -20px;
  color: #FFF;
  font-size: 48px;
  font-weight: 300;
}

.glassContainer1 {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  height: 60vh;
}

.glassContainer2 {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  height: 60vh;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.gridContainer {
  margin: auto;
  height: 100%;
  width: 95vw;
  display: grid;
  grid-template-columns: 30vw 64vw;
  grid-template-rows: 50%;
  gap: 0px 15px;
}